<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match {{ key }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='water.css') }}">
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
</head>

<body onload="reload()">
    <div id="UpperSection">
        <p id="matchKey"> <b>{{ match_key }}</b></p>
        <p id="timeLabel"></p>
        <button id="refreshButton" onclick="reload()">Refresh</button>
        <p><a href="https://www.thebluealliance.com/match/{{ match_key }}">More at The Blue Alliance</a></p>
    </div>
    <div id="MiddleSection">
        <div id="AllianceDiv">
            <div id="redAlliance" class="alliance">
            </div>
            <div id="blueAlliance" class="alliance">
            </div>
        </div>
        <div id="radarChartDiv" class="preMatch">
            <canvas id="radarChart"></canvas>
        </div>
        <div class="postMatch" id="MatchInfoDiv">
            <table id="ResultTable"></table>
        </div>
    </div>
    <div id="LowerSection">
        <div id="PredictionDiv" class="preMatch">
            <div>
                <label for="scout-name">Name:</label>
                <select name="scout-name" id="NameSelect">
                </select>
            </div>
            <div>
                <label for="result">Outcome:</label>
                <select name="result" id="ResultSelect">
                    <option value="" disabled selected>--</option>
                    <option value="red">Red Wins</option>
                    <option value="blue">Blue Wins</option>
                    <option value="tie">Tie</option>
                </select>
            </div>
            <div>
                <button id="submitChange" onclick="submitChanges()">Submit</button>
                <p id="notifyDiv"></p>
            </div>
        </div>
        <div id="OddsDiv" class="postMatch">
            <canvas id="oddsChart"></canvas>
        </div>
    </div>
</body>


<style>
    #LowerSection {
        display: flex;
        flex-direction: column;
    }

    #UpperSection {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #ManageDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #OddsDiv {
        height: 2vh;
    }

    #AllianceDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .alliance {
        display: flex;
        flex-direction: column;
    }

    #redAlliance > a {
        color: red
    }

    #radarChartDiv {
        width: 80vw;
        margin: auto;
    }

    #PredictionDiv {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #MatchInfoDiv {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

    #ResultTable {
        margin: auto;
    }

    .postMatchInfo {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    table, th, td {
        border: 1px solid black;
        width: max-content;
    }

    td:nth-child(2) {
        background-color: pink;
    }

    td:nth-child(3) {
        background-color: lightblue;
    }
    @media screen and (min-width: 768px) {
        #UpperSection {
            min-height: 2vh;
        }

        #refreshButton {
            width: min-content;
            left: 50%;
        }

        #radarChartDiv {
            height: auto;
            width: 30vw;
        }
    }
</style>
<script>
var oddsCtx = document.getElementById('oddsChart');
var oddsChart = new Chart(oddsCtx, {
    type: 'bar',
    data: {
        labels: ['Votes'],
        datasets: [{
            label: 'Red votes',
          data: [],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
        },{
            label: 'Blue votes',
          data: [],
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }
                  ]
    },
    options: {
        scales: {
            y: {
              beginAtZero: true,
              stacked: true
            },
          x: {
            stacked:true
          }
        },
      indexAxis: 'y',
      aspectRatio: 7 
    }
});


var radarCtx = document.getElementById('radarChart');
var radarChart = new Chart(radarCtx, {
    type: 'radar',
    data: {
      labels: ['Auto High Goal', 'Auto Low Goal', 'Teleop High Goal', 'Teleop Low Goal', 'Teleop Misses', 'Endgame Score', 'Climb Time Score'],
        datasets: [{
            label: 'Red Alliance',
          data: [],
          fill: true,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgb(255, 99, 132)',
          pointBackgroundColor: 'rgb(255, 99, 132)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(255, 99, 132)'
        },{
          label: 'Blue Alliance',
          data: [],
          fill: true,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgb(54, 162, 235)',
          pointBackgroundColor: 'rgb(54, 162, 235)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(54, 162, 235)' 
        }]
    },
    options: {
        elements: {
            line: {
                borderWidth: 3
            }
        }
    }
});

function reload(){
    var dataReq = new XMLHttpRequest();
    dataReq.onload = fillData;
    dataReq.open("get", window.location.href + "/data")
    dataReq.send()
  
    var scoutsReq = new XMLHttpRequest();
    scoutsReq.onload = addOptions;
    scoutsReq.open("get", window.location.origin + "/scouts/scouts")
    scoutsReq.send()
}

function fillData(){
  const data = JSON.parse(this.responseText);

  document.getElementById("redAlliance").replaceChildren()
  document.getElementById("blueAlliance").replaceChildren()
  data["alliance"]["red"].forEach((elem) => {
    team = document.createElement("a")
    team.id = elem
    team.href = window.location.origin + "/team/" + elem
    team.innerText = elem
    document.getElementById("redAlliance").append(team)
  })
  data["alliance"]["blue"].forEach((elem) => {
    team = document.createElement("a")
    team.id = elem
    team.href = window.location.origin + "/team/" + elem
    team.innerText = elem
    document.getElementById("blueAlliance").append(team)
  })


  var pre = document.getElementsByClassName("preMatch");
  var post = document.getElementsByClassName("postMatch");

  if (data["occurred"]) {
    for (var i = 0; i < pre.length; i++) {
      pre.item(i).style.display = 'none';
    }
    for (var i = 0; i < post.length; i++) {
      post.item(i).style.display = 'flex';
    }
    document.getElementById("timeLabel").innerText = "Finished at " + (new Date(data["actualTime"])).toLocaleString()

    const table = document.getElementById("ResultTable");
    table.replaceChildren();

    var winnerRow = document.createElement("tr");
    var winnerLabel = document.createElement("td");
    var winnerValue = document.createElement("td");

    winnerLabel.innerText = "Winner";
    winnerValue.colSpan = 2;
    winnerValue.style.textAlign = "center";

    if (data["winner"] == "red"){
        winnerValue.innerText = "Red";
        winnerValue.style.backgroundColor = "pink";
    }else if (data["winner"] == "blue") {
        winnerValue.innerText = "Blue";
        winnerValue.style.backgroundColor = "lightblue";
    }

    winnerRow.appendChild(winnerLabel);
    winnerRow.appendChild(winnerValue);
    table.appendChild(winnerRow);

    Object.entries(data["score"]).forEach((entry) => {
        const [label, values] = entry;
        var row = document.createElement("tr");
        var header = document.createElement("td");
        var red = document.createElement("td");
        var blue = document.createElement("td");

        header.innerText = label;
        red.innerText = values["red"];
        blue.innerText = values["blue"];

        row.appendChild(header);
        row.appendChild(red);
        row.appendChild(blue);

        table.appendChild(row);
    })

    oddsChart.data.datasets[0].data = [data["odds"]["red"]]
    oddsChart.data.datasets[1].data = [data["odds"]["blue"]]
    oddsChart.update()
  }else{
    for (var i = 0; i < pre.length; i++) {
      pre.item(i).style.display = 'flex';
    }
    for (var i = 0; i < post.length; i++) {
      post.item(i).style.display = 'none';
    }
    document.getElementById("timeLabel").innerText = "Expected to be at " + (new Date(data["expectedTime"])).toLocaleString()
    radarChart.data.datasets[0].data = [data["data"]["red"]["autoHighGoal"]/25,data["data"]["red"]["autoLowGoal"]/25, data["data"]["red"]["teleopHighGoal"]/50, data["data"]["red"]["teleopLowGoal"]/50,data["data"]["red"]["teleopMisses"]/50, data["data"]["red"]["endgameScore"]/75, data["data"]["red"]["climbTimeScore"]/30]
    radarChart.data.datasets[1].data = [data["data"]["blue"]["autoHighGoal"]/25,data["data"]["blue"]["autoLowGoal"]/25, data["data"]["blue"]["teleopHighGoal"]/50, data["data"]["blue"]["teleopLowGoal"]/50,data["data"]["blue"]["teleopMisses"]/50, data["data"]["blue"]["endgameScore"]/75, data["data"]["blue"]["climbTimeScore"]/30]
    radarChart.update()
    }
}
    
function addOptions(){

    const info = JSON.parse(this.responseText);
    var dropdown = document.getElementById("NameSelect");
    var placeholder = document.createElement("option");
    placeholder.disabled = true;
    placeholder.selected = true;
    placeholder.value = "";
    placeholder.innerText = "--";
    dropdown.replaceChildren();
    dropdown.append(placeholder);

    info["names"].forEach((name) => {
        var option = document.createElement("option");
        option.value = name;
        option.innerText = name;
        dropdown.append(option)
    })
}

function submitChanges(){
    var post = new XMLHttpRequest();
    post.open("POST", window.location.href + "/prediction", false);

    post.setRequestHeader("Content-Type", "application/json");

    var data = JSON.stringify({ "scout": document.getElementById("NameSelect").value, "prediction": document.getElementById("ResultSelect").value });

    post.send(data);
}
</script>

</html>
